
ul {
    list-style-type: none;
}

.multiple-checkbox ul {
/* Used to hide <li> elements in multiple checkbox forms for bootstrap forms */
    padding-left: 0px;
    list-style: none;
}

/* nested groupings for selection control */
.just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group > .list-group-item {
    padding-left: 60px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group > .list-group > .list-group-item {
    padding-left: 75px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}
/* end nested grouping */

/* risk-hierarchy */
.risk-hierarchy .row:not(:first-child) {
    margin-top: 15px;
}

.riskmapBox .row:not(:first-child) {
    margin-top: 15px;
}

.eye-rm-row {
    border-top: 1px dotted grey;
}

ul.risk-map-list li {
    margin-bottom: 20px;
}

div.odd {
    background-color: #f9f9f9;
}

/* end risk-hierarchy */


/* start of scenario forms */
.cobit .row {
    /*outline: 1px solid black;*/
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cobit .row + .row {
    /* prevent double black lines in grid */
    border-top: 0px;
}

.cobit-title {
    font-weight: bold;
    color: white;
    background-color: #17365D;
}

.cobit-divider {
    font-weight: bold;
    background-color: #FFC000;
}

.cobit-header {
    font-weight: bold;
    background-color: #F5F79D;
}

.cobit textarea {
    width: 100%;
    height: 5em;
}
/* end of scenario forms */

/* in user settings the tab panes require a padding */
.tab-pane {
    padding: 10px;
}

.submit-row {
    padding: 12px 14px;
    background: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 20px;
}