{% load staticfiles %}
{% load bootstrap4 %}
{% load risk_tags %}
<!doctype html>
<html class="no-js" lang="en">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
{% if user.is_authenticated %}
    <title>EYERISK - {{ user.username|upper }} - {{ user.employee.company|upper }}</title>
{% else %}
    <title>EYERISK</title>
{% endif %}
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="{% static 'risk/css/all.css' %}"/>
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'risk/css/eyerisk.css' %}">
{% block css %}{% endblock css %}
</head>
<body>
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'risk-home' %}">EYE RISK</a>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar"
            aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% if user.is_authenticated %}
    {% with request.resolver_match.url_name as url_name %}
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item {% if url_name == 'risk-home' %}active{% endif %}">
                <a class="nav-link" href="{% url 'risk-home' %}">HOME</a>
            </li>

            {% if perms.risk %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="riskDropdown" role="button"
                   data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                    RISK
                </a>
                <div class="dropdown-menu" aria-labelledby="riskDropdown">
                    <a class="dropdown-item" href="{% url 'selection-list' %}">SELECTIONS</a>
                    <a class="dropdown-item" href="{% url 'risk-map-list' %}">MAPS</a>
                    <a class="dropdown-item" href="{% url 'scenario-list' %}">SCENARIOS</a>
                    <a class="dropdown-item" href="{% url 'impact-list' %}">IMPACTS</a>
                </div>
            </li>
            {% endif %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="frameworksDropdown" role="button"
                   data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                    FRAMEWORKS
                </a>
                <div class="dropdown-menu" aria-labelledby="frameworksDropdown">
                    <a class="dropdown-item" href="{% url 'cobit-2019' %}">COBIT 2019</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="/admin"> {% comment %}TODO: link to admin url{% endcomment %}
                    <i class="fa fa-cog"></i> ADMIN </a>
            </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'settings' %}">
                    <i class="fa fa-user"></i> {{ user.username|upper }}
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="fa fa-sign-out"></i> LOGOUT
                </a>
            </li>
        </ul>
    </div>
    {% endwith %}
    {% endif %}
</nav>

<div class="container">

    {% for msg in messages %}
    <div class="alert alert-{{ msg.level_tag }}" role="alert">
        <span class="{{ msg.level_tag|msg_icon_class }}" aria-hidden="true"></span>
        {{ msg.message }}
    </div>
    {% endfor %}
    {% block content_wrapper %}
        {% block content %}{% endblock content %}
    {% endblock content_wrapper %}

</div>

{% bootstrap_javascript jquery='full' %}
{% block script %}{% endblock script %}
</body>
</html>
