{% extends "risk/base.html" %}

{% block css %}
<style>
.cobit-button {
    white-space: normal;
    font-size: smaller;
    height: 94px;
    width: 112px;
}
</style>

{% endblock css %}

{% block content %}
<h1>Cobit 2019</h1>
<div class="container">
    <div class="row" style="background-color: #1d2124">
        <div class="col-10">
            <div class="d-flex flex-wrap">
                <div class="flex-fill">
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>EDM01</b>&ndash;Ensured Governance Framework Setting and Maintenance</button>
                </div>
                <div class="flex-fill">
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>EDM02</b>&ndash;Ensured Benefits Delivery</button>
                </div>
                <div class="flex-fill">
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>EDM03</b>&ndash;Ensured Risk Optimization</button>
                </div>
                <div class="flex-fill">
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>EDM04</b>&ndash;Ensured Resource Optimization</button>
                </div>
                <div class="flex-fill">
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>EDM05</b>&ndash;Ensured Stakeholder Engagement</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" style="background-color: #1d2124">
        <div class="col-10">
            <div class="d-flex flex-wrap mx-1 my-3" style="background-color: #5a6268">
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>APO01</b>&ndash;Managed I&T Management Framework</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>APO02</b>&ndash;Managed Strategy</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>APO03</b>&ndash;Managed Enterprise Architecture</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>APO04</b>&ndash;Managed Innovation</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>APO05</b>&ndash;Managed Portfolio</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>APO06</b>&ndash;Managed Budget and Costs</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>APO07</b>&ndash;Managed Human Resources</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>APO08</b>&ndash;Managed Relationships</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>APO09</b>&ndash;Managed Service Agreements</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>APO10</b>&ndash;Managed Vendors</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>APO11</b>&ndash;Managed Quality</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>APO12</b>&ndash;Managed Risk</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>APO13</b>&ndash;Managed Security</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>APO14</b>&ndash;Managed Data</button>
                </div>
            </div>
            <div class="d-flex flex-wrap mx-1 my-3" style="background-color: #5a6268">
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>BAI01</b>&ndash;Managed Programs</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>BAI02</b>&ndash;Managed Requirements Definition</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>BAI03</b>&ndash;Managed Solutions Identification and Build</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>BAI04</b>&ndash;Managed Availability and Capacity</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>BAI05</b>&ndash;Managed Organisational Change</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>BAI06</b>&ndash;Managed IT Changes</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>BAI07</b>&ndash;Managed IT Change Acceptance and Transitioning</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>BAI08</b>&ndash;Managed Knowledge</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>BAI09</b>&ndash;Managed Assets</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>BAI10</b>&ndash;Managed Configuration</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>BAI11</b>&ndash;Managed Projects</button>
                </div>
            </div>
            <div class="d-flex flex-wrap mx-1 my-3" style="background-color: #5a6268">
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>DSS01</b>&ndash;Managed Operations</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>DSS02</b>&ndash;Managed Service Requests and Incidents</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>DSS03</b>&ndash;Managed Problems</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>DSS04</b>&ndash;Managed Continuity</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>DSS05</b>&ndash;Managed Security Services</button>
                </div>
                <div>
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>DSS01</b>&ndash;Managed Business Process Controls</button>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="d-flex flex-column flex-grow-1" style="background-color: #5b4268">
                <div class="flex-fill">
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>MEA01</b>&ndash;Managed Performance and Conformance Monitoring</button>
                </div>
                <div class="flex-fill">
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>MEA02</b>&ndash;Managed System of Internal Control</button>
                </div>
                <div class="flex-fill">
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>MEA03</b>&ndash;Managed Compliance with External Requirements</button>
                </div>
                <div class="flex-fill">
                    <button type="button" class="cobit-button btn btn-light mx-1 my-2 mb-2 p-0"><b>MEA04</b>&ndash;Managed Assurance</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}