{% extends "risk/base.html" %}
{% load bootstrap %}
{% block content %}
  <h2>{{ selection.name }}</h2>
    <input type="hidden" id="csrftoken" value="{{ csrf_token }}" />
    <div class="list-group list-group-root well">

    {% for cs in control_selection %}

        {% ifchanged cs.control.controlpractice.pk %}
        {% if not forloop.first %}
            </div>
        {% endif %}
        {% endifchanged %}

        {% ifchanged cs.control.controlpractice.controlprocess.pk %}
        {% if not forloop.first %}
            </div>
        {% endif %}
        {% endifchanged %}

        {% ifchanged cs.control.controlpractice.controlprocess.controldomain.pk %}
        {% if not forloop.first %}
            </div>
        {% endif %}
        {% endifchanged %}

        {% ifchanged cs.control.controlpractice.controlprocess.controldomain.standard.pk %}
        {% if not forloop.first %}
            </div>
        {% endif %}
        {% endifchanged %}

        {% ifchanged cs.control.controlpractice.controlprocess.controldomain.standard.pk %}
        <a href="#ctrl-{{ cs.control.controlpractice.controlprocess.controldomain.standard.pk }}"
           class="list-group-item"
           data-toggle="collapse"
        >
            <i class="glyphicon glyphicon-chevron-right"></i>
            {{ cs.control.controlpractice.controlprocess.controldomain.standard.name }}
            <span style="float: right" class="btn-group btn-group-xs" role="group" aria-label="...">
              <button type="button" class="btn btn-primary">A</button>
              <button type="button" class="btn btn-success">M</button>
              <button type="button" class="btn btn-info">T</button>
            </span>
        </a>
        <div class="list-group collapse"
             id="ctrl-{{ cs.control.controlpractice.controlprocess.controldomain.standard.pk }}"
        >
        {% endifchanged %}

        {% ifchanged cs.control.controlpractice.controlprocess.controldomain.pk %}
        <a href="#ctrl-{{ cs.control.controlpractice.controlprocess.controldomain.standard.pk }}-{{ cs.control.controlpractice.controlprocess.pk }}"
           class="list-group-item"
           data-toggle="collapse"
        >
            <i class="glyphicon glyphicon-chevron-right"></i>
            {{ cs.control.controlpractice.controlprocess.controldomain.domain }}
            <span style="float: right" class="btn-group btn-group-xs" role="group" aria-label="...">
              <button type="button" class="btn btn-primary">A</button>
              <button type="button" class="btn btn-success">M</button>
              <button type="button" class="btn btn-info">T</button>
            </span>
        </a>
        <div class="list-group collapse"
             id="ctrl-{{ cs.control.controlpractice.controlprocess.controldomain.standard.pk }}-{{ cs.control.controlpractice.controlprocess.pk }}"
        >
        {% endifchanged %}

        {% ifchanged cs.control.controlpractice.controlprocess.pk %}
        <a href="#lvl-3-{{ forloop.counter0 }}"
           class="list-group-item"
           data-toggle="collapse"
        >
            <i class="glyphicon glyphicon-chevron-right"></i>
            {{ cs.control.controlpractice.controlprocess.process_name }}
        </a>
        <div class="list-group collapse"
             id="lvl-3-{{ forloop.counter0 }}"
        >
        {% endifchanged %}

        {% ifchanged cs.control.controlpractice.pk %}
        <a href="#lvl-4-{{ forloop.counter0 }}"
           class="list-group-item"
           data-toggle="collapse"
        >
            <i class="glyphicon glyphicon-chevron-right"></i>
            {{ cs.control.controlpractice.practice_name }}
        </a>
        <div class="list-group collapse"
             id="lvl-4-{{ forloop.counter0 }}"
        >
        {% endifchanged %}

        <div class="list-group-item" id="lvl-5-{{ forloop.counter0 }}">
            {{ cs.control.activity }}
        </div>
    {% endfor %}
    </div></div></div></div> <!-- close the divs start where opened -->


    </div>
{% endblock content %}