{% extends "risk/base.html" %}
{% load bootstrap %}
{% block content %}
  <h2>{{ selection.name }}</h2>
    <input type="hidden" id="csrftoken" value="{{ csrf_token }}" />
    <div class="list-group list-group-root well">

    {% for cs in control_selection %}

        {% ifchanged cs.control.controlpractice.pk %}
        {% if not forloop.first %}
            </div>
        {% endif %}
        {% endifchanged %}

        {% ifchanged cs.control.controlpractice.controlprocess.pk %}
        {% if not forloop.first %}
            </div>
        {% endif %}
        {% endifchanged %}

        {% ifchanged cs.control.controlpractice.controlprocess.controldomain.pk %}
        {% if not forloop.first %}
            </div>
        {% endif %}
        {% endifchanged %}

        {% ifchanged cs.control.controlpractice.controlprocess.controldomain.standard.pk %}
        {% if not forloop.first %}
            </div>
        {% endif %}
        {% endifchanged %}

        {% ifchanged cs.control.controlpractice.controlprocess.controldomain.standard.pk %}
        <a href="#lvl-1-{{ forloop.counter0 }}"
           class="list-group-item"
           data-toggle="collapse"
        >
            <i class="glyphicon glyphicon-chevron-right"></i>
            {{ cs.control.controlpractice.controlprocess.controldomain.standard.name }}
            <span style="float: right" class="btn-group btn-group-xs" role="group" aria-label="..."
                data-id="{{ cs.control.controlpractice.controlprocess.controldomain.standard.pk }}"
            >
              <button type="button" class="btn btn-success" alt="Accept">A</button>
              <button type="button" class="btn btn-info" alt="Mitigate">M</button>
              <button type="button" class="btn btn-warning" alt="Transfer">T</button>
            </span>
        </a>
        <div class="list-group collapse"
             id="lvl-1-{{ forloop.counter0 }}"
        >
        {% endifchanged %}

        {% ifchanged cs.control.controlpractice.controlprocess.controldomain.pk %}
        <a href="#lvl-2-{{ forloop.counter0 }}"
           class="list-group-item"
           data-toggle="collapse"
        >
            <i class="glyphicon glyphicon-chevron-right"></i>
            {{ cs.control.controlpractice.controlprocess.controldomain.domain }}
            <span style="float: right" class="btn-group btn-group-xs" role="group" aria-label="..."
                data-id="{{ cs.control.controlpractice.controlprocess.controldomain.standard.pk }}-{{ cs.control.controlpractice.controlprocess.controldomain.pk }}"
            >
              <button type="button" class="btn btn-success" alt="Accept">A</button>
              <button type="button" class="btn btn-info" alt="Mitigate">M</button>
              <button type="button" class="btn btn-warning" alt="Transfer">T</button>
            </span>
        </a>
        <div class="list-group collapse"
             id="lvl-2-{{ forloop.counter0 }}"
        >
        {% endifchanged %}

        {% ifchanged cs.control.controlpractice.controlprocess.pk %}
        <a href="#lvl-3-{{ forloop.counter0 }}"
           class="list-group-item"
           data-toggle="collapse"
        >
            <i class="glyphicon glyphicon-chevron-right"></i>
            {{ cs.control.controlpractice.controlprocess.process_name }}
            <span style="float: right" class="btn-group btn-group-xs" role="group" aria-label="..."
                data-id="{{ cs.control.controlpractice.controlprocess.controldomain.standard.pk }}-{{ cs.control.controlpractice.controlprocess.controldomain.pk }}-{{ cs.control.controlpractice.controlprocess.pk }}"
            >
              <button type="button" class="btn btn-success" alt="Accept">A</button>
              <button type="button" class="btn btn-info" alt="Mitigate">M</button>
              <button type="button" class="btn btn-warning" alt="Transfer">T</button>
            </span>
        </a>
        <div class="list-group collapse"
             id="lvl-3-{{ forloop.counter0 }}"
        >
        {% endifchanged %}

        {% ifchanged cs.control.controlpractice.pk %}
        <a href="#lvl-4-{{ forloop.counter0 }}"
           class="list-group-item"
           data-toggle="collapse"
        >
            <i class="glyphicon glyphicon-chevron-right"></i>
            {{ cs.control.controlpractice.practice_name }}
            <span style="float: right" class="btn-group btn-group-xs" role="group" aria-label="..."
                data-id="{{ cs.control.controlpractice.controlprocess.controldomain.standard.pk }}-{{ cs.control.controlpractice.controlprocess.controldomain.pk }}-{{ cs.control.controlpractice.controlprocess.pk }}-{{ cs.control.controlpractice.pk }}"
            >
              <button type="button" class="btn btn-success" alt="Accept">A</button>
              <button type="button" class="btn btn-info" alt="Mitigate">M</button>
              <button type="button" class="btn btn-warning" alt="Transfer">T</button>
            </span>
        </a>
        <div class="list-group collapse"
             id="lvl-4-{{ forloop.counter0 }}"
        >
        {% endifchanged %}

        <div class="list-group-item {% if cs.response == 'A' %}list-group-item-success{% endif %} {% if cs.response == 'M' %}list-group-item-info{% endif %} {% if cs.response == 'T' %}list-group-item-warning{% endif %}">
            {{ cs.control.activity }}
            <span style="float: right" class="btn-group btn-group-xs" role="group" aria-label="..."
                data-id="{{ cs.control.controlpractice.controlprocess.controldomain.standard.pk }}-{{ cs.control.controlpractice.controlprocess.controldomain.pk }}-{{ cs.control.controlpractice.controlprocess.pk }}-{{ cs.control.controlpractice.pk }}-{{ cs.control.pk }}"
            >
              <button type="button" class="btn btn-success" alt="Accept">A</button>
              <button type="button" class="btn btn-info" alt="Mitigate">M</button>
              <button type="button" class="btn btn-warning" alt="Transfer">T</button>
            </span>
        </div>
    {% endfor %}
    </div></div></div></div> <!-- close the divs start where opened -->


    </div>
{% endblock content %}