{% extends "risk/base.html" %}
{% load bootstrap %}
{% block content %}
<form action="" method="post" role="form">{% csrf_token %}
    <h3>Are you sure?</h3>
    <p>Are you sure you want to delete the risk map <b>"{{ object }}"</b>?</p>
    {% if object.riskmap_set.all %}
    <p>The following risk maps will also be deleted:</p>
    <ul>
        {% for risk_map in object.riskmap_set.all %}
        <li>
            {{ risk_map }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <button type="submit" class="btn btn-danger">Yes, I'm sure</button>
    <a href="{% url 'risk-map-list' object.pk %}" class="btn btn-default" role="button">No, take me back</a>
</form>
{% endblock content %}