{% extends "risk/base.html" %}
{% load bootstrap3 %}
{% block content %}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">CREATE SCENARIO</h4>
        </div>
        <form class="form" method="post" action="">
            {% csrf_token %}
            <div class="modal-body">
                {% bootstrap_form form %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                <button type="submit" class="btn btn-primary">CREATE</button>
            </div>
        </form>
    </div>
    </div>
</div>

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                PROJECT
            </th>
            <th>
                TYPE
            </th>
            <th>
                CATEGORY
            </th>
            {% if perms.risk.change_scenariocategoryanswer %}
            <th class="col-md-1">
                EDIT
            </th>
            {% endif %}
            {% if perms.risk.delete_scenariocategoryanswer %}
            <th class="col-md-1">
                DELETE
            </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for scenario in scenario_list %}
        <tr>
            <td>
                {{ scenario }}
            </td>
            <td>
                {{ scenario.project.get_type_display }}
            </td>
            <td>
                {{ scenario.scenario_category }}
            </td>
            {% if perms.risk.change_scenariocategoryanswer %}
            <td>
                <a href="{% url 'scenario-edit' pk=scenario.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
            {% endif %}
            {% if perms.risk.delete_scenariocategoryanswer %}
            <td>
                <a href="{% url 'scenario-delete' pk=scenario.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
            {% endif %}
        </tr>
        {% empty %}
        <tr>
            {% if perms.risk.add_scenariocategoryanswer %}
            <td colspan="5">
                No scenario's yet, go ahead and create one!
            </td>
            {% else %}
            <td colspan="5">
                There are no scenario's and you don't have the permission to create one!
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if perms.risk.add_scenariocategoryanswer %}
<div class="row text-right submit-row">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      ADD SCENARIO
    </button>
</div>
{% endif %}

{% if form.non_field_errors or form.project.errors or form.scenario_category.errors %}
<script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>
{% endif %}

{% endblock content %}
