{% extends "risk/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}
<form class="form scenario" method="post" action="">
    {% csrf_token %}
    <!--{{ form }}-->
    <div class="row scenario-title text-center">
        <div class="col-md-12">
            Risk Scenario Category {{item.scenario_category.nr}}: {{item.scenario_category.name}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <b>Risk Scenario</b><br>
            {{item.scenario_category.risk_scenario}}
        </div>
    </div>
    <div class="row scenario-divider">
        <div class="col-md-12">
            Risk Scenario Components
        </div>
    </div>

    {% with field=form.threat_type %}
    <div class="row">
        <div class="col-md-6">
            <b>{{ field.label_tag }}</b><br>
            <small>{{ field.help_text }}</small>
        </div>
        <div class="col-md-6">
            {% for choice in field %}
            <div class="checkbox">
                {{ choice }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endwith %}

    {% with field=form.actor %}
    <div class="row">
        <div class="col-md-6">
            <b>{{ field.label_tag }}</b><br>
            <small>{{ field.help_text }}</small>
        </div>
        <div class="col-md-6">
            {% for choice in field %}
            <div class="checkbox">
                {{ choice }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endwith %}

    {% with field=form.event %}
    <div class="row">
        <div class="col-md-6">
            <b>{{ field.label_tag }}</b><br>
            <small>{{ field.help_text }}</small>
        </div>
        <div class="col-md-6">
            {% for choice in field %}
            <div class="checkbox">
                {{ choice }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endwith %}

    {% with field=form.asset %}
    <div class="row">
        <div class="col-md-6">
            <b>{{ field.label_tag }}</b><br>
            <small>{{ field.help_text }}</small>
        </div>
        <div class="col-md-6">
            {% for choice in field %}
            <div class="checkbox">
                {{ choice }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endwith %}

    {% with field=form.resource %}
    <div class="row">
        <div class="col-md-6">
            <b>{{ field.label_tag }}</b><br>
            <small>{{ field.help_text }}</small>
        </div>
        <div class="col-md-6">
            {% for choice in field %}
            <div class="checkbox">
                {{ choice }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endwith %}

    {% with field=form.timing %}
    <div class="row">
        <div class="col-md-6">
            <b>{{ field.label_tag }}</b><br>
            <small>{{ field.help_text }}</small>
        </div>
        <div class="col-md-6">
            {% for choice in field %}
            <div class="checkbox">
                {{ choice }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endwith %}

    {% with field=form.duration %}
    <div class="row">
        <div class="col-md-6">
            <b>{{ field.label_tag }}</b><br>
            <small>{{ field.help_text }}</small>
        </div>
        <div class="col-md-6">
            {% for choice in field %}
            <div class="checkbox">
                {{ choice }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endwith %}

    {% with field=form.detection %}
    <div class="row">
        <div class="col-md-6">
            <b>{{ field.label_tag }}</b><br>
            <small>{{ field.help_text }}</small>
        </div>
        <div class="col-md-6">
            {% for choice in field %}
            <div class="checkbox">
                {{ choice }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endwith %}

    {% with field=form.time_lag %}
    <div class="row">
        <div class="col-md-6">
            <b>{{ field.label_tag }}</b><br>
            <small>{{ field.help_text }}</small>
        </div>
        <div class="col-md-6">
            {% for choice in field %}
            <div class="checkbox">
                {{ choice }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endwith %}


    <div class="row scenario-divider">
        <div class="col-md-12">
            Risk Type<br>
            <small>Describe the consequences resulting from the event.
            Include whether the risk type is primary or secondary.</small>
        </div>
    </div>
    <div class="row scenario-header">
        <div class="col-md-4 text-center">
            Risk Type
        </div>
        <div class="col-md-1 text-center">
            <abr title="Primary / Secundary">P/S</abr>
        </div>
        <div class="col-md-7 text-center">
            Risk Description
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            IT Benefit/Value Enablement
        </div>
        <div class="col-md-1 text-center">
            S
        </div>
        <div class="col-md-7">
            <textarea></textarea>
        </div>
        <div class="col-md-4">
            IT Program and Project Delivery
        </div>
        <div class="col-md-1 text-center">
            S
        </div>
        <div class="col-md-7">
            <textarea></textarea>
        </div>
        <div class="col-md-4">
            IT Operations and Service Delivery
        </div>
        <div class="col-md-1 text-center">
            P
        </div>
        <div class="col-md-7">
            <textarea></textarea>
        </div>
    </div>
    <div class="row scenario-divider">
        <div class="col-md-12">
            Process Enabler
        </div>
    </div>
    <div class="row scenario-header">
        <div class="col-md-1 text-center">
            Reference
        </div>
        <div class="col-md-2 text-center">
            Title Description
        </div>
        <div class="col-md-6 text-center">
            Governance and Management Practices
        </div>
        <div class="col-md-1 text-center">
            Effect on Frequency
        </div>
        <div class="col-md-1 text-center">
            Effect on Impact
        </div>
        <div class="col-md-1 text-center">
            Essential Control
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            APO07.01
        </div>
        <div class="col-md-2">
            Maintain adequate and appropriate staffing.
        </div>
        <div class="col-md-6">
            Monitor the key goals and metrics to determine the extent to which the business is generating the expected value and benefits to the enterprise from IT-enabled investments and services. Identify significant issues and consider corrective actions.
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <select class="form-control" id="freq_1">
                    <option>-----</option>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <select class="form-control" id="impact_1">
                    <option>-----</option>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <select class="form-control" id="essential_1">
                    <option>---</option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            APO01.01
        </div>
        <div class="col-md-2">
            Define the organizational structure.
        </div>
        <div class="col-md-6">
            Establish an internal and extended organizational structure that reflects business needs and IT priorities. Put in place the required management structures (e.g., committees) that enable management decision making to take place in the most effective and efficient manner.
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <select class="form-control" id="freq_2">
                    <option>-----</option>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <select class="form-control" id="impact_2">
                    <option>-----</option>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <select class="form-control" id="essential_2">
                    <option>---</option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            APO06.04
        </div>
        <div class="col-md-2">
            Model and allocate costs.
        </div>
        <div class="col-md-6">
            Establish and use an IT costing model based on the service definition, ensuring that allocation of costs for services is identifiable, measurable and predictable, to encourage the responsible use of resources including those provided by service providers. Regularly review and benchmark the appropriateness of the cost/ chargeback model to maintain its relevance and appropriateness to the evolving business and IT activities.
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <select class="form-control" id="freq_3">
                    <option>-----</option>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <select class="form-control" id="impact_3">
                    <option>-----</option>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <select class="form-control" id="essential_3">
                    <option>---</option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
        </div>
    </div>
</form>
<br/>
{% endblock content %}