<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container scenario">
    <h1>Stuff 'n shit</h1>

    <form class="form">
    <div class="row scenario-title text-center">
        <div class="col-md-12">
            Risk Scenario Category 2: Program/Project Life Cycle Management
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <b>Risk Scenario</b><br>
            Describe the risk/opportunity scenario, including a discussion of the
            negative and positive impact of the scenario. The description clasifies
            the threat/vulnerability type and includes the actors, events, assets and time issues.
        </div>
    </div>
    <div class="row scenario-divider">
        <div class="col-md-12">
            Risk Scenario Components
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <b>Threat Type</b><br>
            <small>The nature of the event.</small>
        </div>
        <div class="col-md-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox">Malicious
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Accidental
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Error
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Failure
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Natural
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">External requirement
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <b>Actor</b><br>
            <small>Who or what triggers the threat that exploits a vulnerability.</small>
        </div>
        <div class="col-md-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox">Internal
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">External
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Human
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Non-human
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <b>Event</b><br>
            <small>Something happens that was not supposed to happen, something does not happen that was supposed to happen, or a change in circumstances. Events always have causes and usually have consequences. A consequence is the outcome of an event and has an impact on objectives.</small>
        </div>
        <div class="col-md-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox">Disclosure
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Interruption
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Modification
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Theft
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Destruction
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Ineffective design
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Ineffective execution
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Rules and regulations
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Inappropiate use
                </label>
            </div>
        </div>
    </div>
    <div class="row scenario-divider">
        <div class="col-md-12">
            Risk Type<br>
            <small>Describe the consequences resulting from the event.
            Include whether the risk type is primary or secondary.</small>
        </div>
    </div>
    <div class="row scenario-header">
        <div class="col-md-4 text-center">
            Risk Type
        </div>
        <div class="col-md-1 text-center">
            <abr title="Primary / Secundary">P/S</abr>
        </div>
        <div class="col-md-7 text-center">
            Risk Description
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            IT Benefit/Value Enablement
        </div>
        <div class="col-md-1 text-center">
            S
        </div>
        <div class="col-md-7">
            <textarea></textarea>
        </div>
        <div class="col-md-4">
            IT Program and Project Delivery
        </div>
        <div class="col-md-1 text-center">
            S
        </div>
        <div class="col-md-7">
            <textarea></textarea>
        </div>
        <div class="col-md-4">
            IT Operations and Service Delivery
        </div>
        <div class="col-md-1 text-center">
            P
        </div>
        <div class="col-md-7">
            <textarea></textarea>
        </div>
    </div>
    <div class="row scenario-divider">
        <div class="col-md-12">
            Process Enabler
        </div>
    </div>
    <div class="row scenario-header">
        <div class="col-md-1 text-center">
            Reference
        </div>
        <div class="col-md-2 text-center">
            Title Description
        </div>
        <div class="col-md-6 text-center">
            Governance and Management Practices
        </div>
        <div class="col-md-1 text-center">
            Effect on Frequency
        </div>
        <div class="col-md-1 text-center">
            Effect on Impact
        </div>
        <div class="col-md-1 text-center">
            Essential Control
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            APO07.01
        </div>
        <div class="col-md-2">
            Maintain adequate and appropriate staffing.
        </div>
        <div class="col-md-6">
            Monitor the key goals and metrics to determine the extent to which the business is generating the expected value and benefits to the enterprise from IT-enabled investments and services. Identify significant issues and consider corrective actions.
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <select class="form-control" id="freq_1">
                    <option>-----</option>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <select class="form-control" id="impact_1">
                    <option>-----</option>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <select class="form-control" id="essential_1">
                    <option>---</option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            APO01.01
        </div>
        <div class="col-md-2">
            Define the organizational structure.
        </div>
        <div class="col-md-6">
            Establish an internal and extended organizational structure that reflects business needs and IT priorities. Put in place the required management structures (e.g., committees) that enable management decision making to take place in the most effective and efficient manner.
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <select class="form-control" id="freq_2">
                    <option>-----</option>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <select class="form-control" id="impact_2">
                    <option>-----</option>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <select class="form-control" id="essential_2">
                    <option>---</option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            APO06.04
        </div>
        <div class="col-md-2">
            Model and allocate costs.
        </div>
        <div class="col-md-6">
            Establish and use an IT costing model based on the service definition, ensuring that allocation of costs for services is identifiable, measurable and predictable, to encourage the responsible use of resources including those provided by service providers. Regularly review and benchmark the appropriateness of the cost/ chargeback model to maintain its relevance and appropriateness to the evolving business and IT activities.
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <select class="form-control" id="freq_3">
                    <option>-----</option>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <select class="form-control" id="impact_3">
                    <option>-----</option>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <select class="form-control" id="essential_3">
                    <option>---</option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
        </div>
    </div>
    </form>
</div>
<br>
<script type="text/javascript" src="bundle.js" charset="utf-8"></script>
</body>
</html>
