{% extends "risk/base2.html" %}
{% load risk_tags %}
{% load bootstrap3 %}
{% block content %}
<form action="" method="post" role="form">{% csrf_token %}
    <legend>SELECTIONS</legend>
    {% bootstrap_form form %}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">EDIT SELECTION</button>
    </div>
</form>
{% if tree %}
<hr>
    <div class="list-group list-group-root well">
    {% for pk, standard in tree.items %}
        <a href="#list-group-standard-{{ pk }}" class="list-group-item {{ standard.response|response }}" data-toggle="collapse">
            <div class="row">
                <div class="col-xs-8 col-md-10">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                    {{ standard.text }}
                </div>
                <div class="col-xs-4 col-md-2">
                    <div class="btn-group btn-group-xs pull-right" role="group" aria-label="..." data-level="standard" data-id="{{ pk }}">
                      <button type="button" class="btn btn-success" alt="Accept" data-type="response">A</button>
                      <button type="button" class="btn btn-info" alt="Mitigate" data-type="response">M</button>
                      <button type="button" class="btn btn-warning" alt="Transfer" data-type="response">T</button>
                      <button type="button" class="btn" alt="No selection" data-type="response">N</button>
                    </div>
                </div>
            </div>
        </a>
        <div class="list-group collapse" id="list-group-standard-{{ pk }}">
        {% for pk, domain in standard.nodes.items %}
            <a href="#list-group-domain-{{ pk }}" class="list-group-item {{ domain.response|response }}" data-toggle="collapse">
            <div class="row">
                <div class="col-xs-8 col-md-10">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                    {{ domain.text }}
                </div>
                <div class="col-xs-4 col-md-2">
                    <div class="btn-group btn-group-xs pull-right" role="group" aria-label="..." data-level="domain" data-id="{{ pk }}">
                      <button type="button" class="btn btn-success" alt="Accept" data-type="response">A</button>
                      <button type="button" class="btn btn-info" alt="Mitigate" data-type="response">M</button>
                      <button type="button" class="btn btn-warning" alt="Transfer" data-type="response">T</button>
                      <button type="button" class="btn" alt="No selection" data-type="response">N</button>
                    </div>
                </div>
            </div>
            </a>
            <div class="list-group collapse" id="list-group-domain-{{ pk }}">
            {% for pk, process in domain.nodes.items %}
                <a href="#list-group-process-{{ pk }}" class="list-group-item {{ process.response|response }}" data-toggle="collapse">
                <div class="row">
                    <div class="col-xs-8 col-md-10">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                        {{ process.text }}
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <div class="btn-group btn-group-xs pull-right" role="group" aria-label="..." data-level="process" data-id="{{ pk }}">
                            <button type="button" class="btn btn-success" alt="Accept" data-type="response">A</button>
                            <button type="button" class="btn btn-info" alt="Mitigate" data-type="response">M</button>
                            <button type="button" class="btn btn-warning" alt="Transfer" data-type="response">T</button>
                            <button type="button" class="btn" alt="No selection" data-type="response">N</button>
                        </div>
                    </div>
                </div>
                </a>
                <div class="list-group collapse" id="list-group-process-{{ pk }}">
                {% for pk, practice in process.nodes.items %}
                    <a href="#list-group-practice-{{ pk }}" class="list-group-item {{ practice.response|response }}" data-toggle="collapse">
                    <div class="row">
                        <div class="col-xs-8 col-md-10">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                            {{ practice.text }}
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <div class="btn-group btn-group-xs pull-right" role="group" aria-label="..." data-level="practice" data-id="{{ pk }}">
                                <button type="button" class="btn btn-success" alt="Accept" data-type="response">A</button>
                                <button type="button" class="btn btn-info" alt="Mitigate" data-type="response">M</button>
                                <button type="button" class="btn btn-warning" alt="Transfer" data-type="response">T</button>
                                <button type="button" class="btn" alt="No selection" data-type="response">N</button>
                            </div>
                        </div>
                    </div>
                    </a>
                    <div class="list-group collapse" id="list-group-practice-{{ pk }}">
                    {% for pk, activity in practice.nodes.items %}
                        <a href="#list-group-activity-{{ pk }}" class="list-group-item {{ activity.response|response }}" data-toggle="collapse">
                        <div class="row">
                            <div class="col-xs-8 col-md-10">
                                <!--<i class="glyphicon glyphicon-chevron-right"></i>-->
                                {{ activity.text }}
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <div class="btn-group btn-group-xs pull-right" role="group" aria-label="..." data-level="activity" data-id="{{ pk }}">
                                    <button type="button" class="btn btn-success" alt="Accept" data-type="response">A</button>
                                    <button type="button" class="btn btn-info" alt="Mitigate" data-type="response">M</button>
                                    <button type="button" class="btn btn-warning" alt="Transfer" data-type="response">T</button>
                                    <button type="button" class="btn" alt="No selection" data-type="response">N</button>
                        </div>
                            </div>
                        </div>
                        </a>
                    {% endfor %}
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endif %}
<script>
    $("button[data-type=response]").click(function(event) {
        event.stopPropagation();
        var response = $(this).text();
        var level = $(this).parent("div").data("level");
        var id = $(this).parent("div").data("id");
        $.post(
            "response",
            {
                "csrfmiddlewaretoken": '{{ csrf_token }}',
                "level": level,
                "id": id,
                "response": response,
            }
        );

        switch (response) {
            case "N":
                className = "list-group-item-nothing";
                break;
            case "A":
                className = "list-group-item-success";
                break;
            case "M":
                className = "list-group-item-info";
                break;
            case "T":
                className = "list-group-item-warning";
                break;
            default:
                className = "";
        }
        // now update the UI, first the "a" tag this button belongs to
        a_up = $(this).closest("a");
        a_up.removeClass("list-group-item-nothing list-group-item-success list-group-item-info list-group-item-warning").addClass(className);

        // next the underlying "a" tags, if this is the lowest level then no "a" tags will be found.
        a_up.next("div").find("a").removeClass("list-group-item-nothing list-group-item-success list-group-item-info list-group-item-warning").addClass(className);

        // now, if the closest "a" was the last one to complete the set then all "a" tags in its closest div will have only two classes.
        var classes = {};
        var counter = 0;
        div_up = a_up.closest("div.list-group");
        while (div_up.length > 0) {
            console.log("found higher div");
            classes = {};
            div_up.find("a").each(function() {
                $.each( $(this).prop("classList"), function(index, item) {
                    classes[item] = true;
                });
            });

            counter = 0;
            if ("list-group-item-nothing" in classes) { counter++; }
            if ("list-group-item-success" in classes) { counter++; }
            if ("list-group-item-info" in classes) { counter++; }
            if ("list-group-item-warning" in classes) { counter++; }

            //console.log(classes);
            //console.log(counter);
            if (counter == 1) {
                div_up.prev("a.list-group-item").removeClass("list-group-item-nothing list-group-item-success list-group-item-info list-group-item-warning").addClass(className);
            } else {
                div_up.prev("a.list-group-item").removeClass("list-group-item-nothing list-group-item-success list-group-item-info list-group-item-warning").addClass("list-group-item-nothing");
            }
            div_up = div_up.parent("div.list-group");
        }
    });
</script>
{% endblock content %}