{% extends "risk/base.html" %}
{% load bootstrap %}
{% block content %}
  <h2>{{ selection.name }}</h2>

  <div class="list-group list-group-root well">
    {% for standard in tree %}
    <a href="#lvl-1-{{ standard.id }}" class="list-group-item" data-toggle="collapse">
      <i class="glyphicon glyphicon-chevron-right"></i>{{ standard.text }}
    </a>
    <div class="list-group collapse" id="lvl-1-{{ standard.id }}">

      {% for domain in standard.domains %}
      <a href="#lvl-2-{{ domain.id }}" class="list-group-item" data-toggle="collapse">
        <i class="glyphicon glyphicon-chevron-right"></i>{{ domain.text }}
      </a>
      <div class="list-group collapse" id="lvl-2-{{ domain.id }}">

        {% for process in domain.processes %}
        <a href="#lvl-3-{{ process.id }}" class="list-group-item" data-toggle="collapse">
          <i class="glyphicon glyphicon-chevron-right"></i>{{ process.text }}
        </a>
        <div class="list-group collapse" id="lvl-3-{{ process.id }}">

          {% for practice in process.practices %}
          <a href="#lvl-4-{{ practice.id }}" class="list-group-item" data-toggle="collapse">
            <i class="glyphicon glyphicon-chevron-right"></i>{{ practice.text }}
          </a>
          <div class="list-group collapse" id="lvl-4-{{ practice.id }}">

            {% for activity in practice.activities %}
              <div class="list-group-item {% if activity.value == 'M' %}list-group-item-success{% endif %}"
                   id="lvl-5-{{ activity.id }}">
                {{ activity.text }}
              </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

{% endblock content %}