{% extends "risk/base.html" %}

{% block content %}
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                NAME
            </th>
            {% if perms.risk.change_selection %}
            <th class="col-md-1">
                EDIT
            </th>
            <th class="col-md-1">
                EXPORT
            </th>
            {% endif %}
            {% if perms.risk.delete_selection %}
            <th class="col-md-1">
                DELETE
            </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for selection in selection_list %}
        <tr>
            <td>
                {{ selection }}
            </td>
            {% if perms.risk.change_selection %}
            <td>
                <a href="{% url 'selection-edit' pk=selection.pk %}"><i class="fas fa-pencil"></i></a>
            </td>
            <td>
                <a href="{% url 'selection-export' pk=selection.pk %}"><i class="fas fa-file-excel" aria-hidden="true"></i></a>
            </td>
            {% endif %}
            {% if perms.risk.delete_selection %}
            <td>
                <a href="{% url 'selection-delete' pk=selection.pk %}"><i class="fas fa-trash"></i></a>
            </td>
            {% endif %}
        </tr>
        {% empty %}
        <tr>
            {% if perms.risk.add_selection %}
            <td colspan="4">No selections yet, go ahead and create one!</td>
            {% else %}
            <td colspan="4">There are no selections and you don't have the permission to create one!</td>
            {% endif %}
        </tr>

        {% endfor %}
    </tbody>
</table>
{% if perms.risk.add_selection %}
<div class="row text-right submit-row">
    <a class="btn btn-primary" role="button" href="{% url 'selection-add' %}">ADD SELECTION</a>
</div>
{% endif %}
{% endblock content %}
