{% extends "risk/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}
<form class="form scenario" method="post" action="">
    {% csrf_token %}
    {{ process_enabler_answer_formset.management_form }}

    {% for process_enabler_answer_form in process_enabler_answer_formset %}
        {% for hidden in process_enabler_answer_form.hidden_fields %}
        {{ hidden }}
        {% endfor %}

        {{ process_enabler_answer_form.instance.control_practice.practice_name }}<br>
        {{ process_enabler_answer_form.instance.control_practice.practice_governance }}<br>
        {{ process_enabler_answer_form.effect_on_frequency }}<br>
    {% endfor %}


    {{ risk_type_answer_formset.management_form }}

    {% for risk_type_answer_form in risk_type_answer_formset %}
        {% for hidden in risk_type_answer_form.hidden_fields %}
        {{ hidden }}
        {% endfor %}

        {{ risk_type_answer_form.instance.risk_type.description }}<br>
        {{ risk_type_answer_form.instance.risk_type.get_impact_display }}<br>
        {{ risk_type_answer_form.description }}<br>
    {% endfor %}

    {{ form }}
    <input type="submit" value="Save" />
</form>
<br/>
{% endblock content %}
