{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>EYERISK - {{ user.username|upper }} - {{ user.employee.company|upper }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="{% static 'risk/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'risk/css/eyerisk.css' %}">
    </head>

    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="app">
            <app-nav></app-nav>
            <app-view>
                <app-sidebar></app-sidebar>
                <app-content></app-content>
            </app-view>
        </div>

        <script src={% static 'risk/js/vendor/jquery-3.2.1.js' %}></script>
        <script src={% static 'risk/js/vendor/tether.js' %}></script>
        <script src={% static 'risk/js/vendor/bootstrap.js' %}></script>
        <script src={% static 'risk/js/vendor/vue.js' %}></script>
        <script src={% static 'risk/js/vendor/vue-router.js' %}></script>
        <script src={% static 'risk/js/eyerisk.js' %}></script>
    </body>
</html>
