{% extends "compliance/base.html" %}

{% block content %}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nr
                </th>
                <th>
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
            {% for selection in selection_list %}
            <tr>
                <td>
                    {{ selection.pk }}
                </td>
                <td>
                    {{ selection }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}